@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-base text-text-primary font-sans antialiased;
}

a {
  @apply text-text-secondary hover:text-text-primary transition-colors;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #111418;
}

::-webkit-scrollbar-thumb {
  background-color: #1D232B;
  border-radius: 999px;
  border: 3px solid #111418;
}
